# Roots
---
Timothy Helton
<br>
May 17, 2017

---
<br>
<font color="red">
    NOTE:
    <br>
    This notebook uses code found in the
    <a href="https://github.com/TimothyHelton/k2datascience/blob/master/k2datascience/roots.py">
    <strong>k2datascience.roots</strong></a> module.
    To execute all the cells do one of the following items:
    <ul>
        <li>Install the k2datascience package to the active Python interpreter.</li>
        <li>Add k2datascience/k2datascience to the PYTHON_PATH system variable.</li>
        <li>Create a link to the roots.py file in the same directory as this notebook.</li>
</font>

---
### Imports

In [1]:
from k2datascience import roots

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"
%matplotlib inline

---

### Load Data

[US Zip Code Data](https://www.census.gov/geo/maps-data/data/gazetteer2016.html)

<font color="red">
    - NOTE: Data File uses ISO-8859-1 encoding, but may be converted to UTF-8 in the future.
</font>

In [2]:
roots = roots.Indeed()
roots.load_data()
roots.zip_code_data.shape
roots.zip_code_data.dtypes
roots.zip_code_data.head()
roots.zip_code_data.tail()

(33144, 3)

zip_code      object
latitude     float64
longitude    float64
dtype: object

  zip_code   latitude  longitude
0    00601  18.180555 -66.749961
1    00602  18.361945 -67.175597
2    00603  18.455183 -67.119887
3    00606  18.158345 -66.932911
4    00610  18.295366 -67.125135

      zip_code   latitude   longitude
33139    99923  56.002315 -130.041026
33140    99925  55.550204 -132.945933
33141    99926  55.138352 -131.470424
33142    99927  56.239062 -133.457924
33143    99929  56.370751 -131.693301